<div class='icon1'>
    <br /><br />
    <a target='_blank' href="https://www.facebook.com/marilyn.amaco">
      <img class='icon' src="./assets/facebook.png" />
    </a>
    <a target='_blank' href="https://open.spotify.com/?">
      <img class='icon' src="./assets/spotify.png" />
    </a>
    <a target='_blank' href="https://www.instagram.com/marylinac11/">
      <img class='icon' src="./assets/instagram.png" />
    </a>
    <a target='_blank' href="https://www.pinterest.com.mx/">
      <img class='icon' src="./assets/pinterest.png" />
    </a> 
</div>