<div class='border'>
    <img class='imagen' align='left' src="./assets/Yo.jpeg"/>
    <p class='p1'>
      Nombre: Marilyn Amaro Cortez <br/>
      Carrera: Sistemas Computacionales <br />
      Semestre: 8vo <br/>
      Edad: 21 años <br/>
      Fecha de Nacimiento: 09-12-2001 <br/>
      Hobby: Basquetbol y Natación <br/>
      Color favorito: Azul <br/>
    </p>
  </div>