.border{
    margin: 2px;
    border: 5px solid rgb(133, 212, 172);
    max-width: 1500px;
    height: 450px;
}

.imagen{
    width: 240px;
    height: 410px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 40px;
}

.p1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 43px;
}